@{
    ViewBag.Title = "主页";
}

<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
<script src="/Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

<div class="col-md-12" style="margin-top: 15px">
    @(Html.BootstrapTable(Url.Action("UnicomProjectTable"), TablePaginationOption.server)
        .Column("注册编号", "Code")
          .Column("报建编号", "RegisterCode")
          .Column("工程名称", "Name")
          .Column("联系电话", "Telephone")
          .Column("负责人", "Superintendent")
          .Apply(TableOption.striped))
</div>