<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PushResourceServiceServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://112.64.17.60:9080/services/pushResource"
                binding="basicHttpBinding" bindingConfiguration="PushResourceServiceServiceSoapBinding"
                contract="UnicomPlatform.PushResourceService" name="PushResourceServicePort" />
        </client>
    </system.serviceModel>
</configuration>